* {
    font-family: "Outfit", serif;
    color: black;
  }

  /* MAIN */
  .project-img {
      width:100%;
  }

  /* CATEGORY SECTION*/


@media screen and (min-width: 520px) {
    .category-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
     }
}

@media screen and (min-width: 750px) {
    .category-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
     }
}